
	// start .sWhatMasterCLass
.sWhatMasterCLass {
 
	.row{
		justify-content: space-around;
	}
	&__col{
		max-width: rem(295);
		text-align: center;
		margin-bottom: rem(30);
		&::before{
			content: url("data:image/svg+xml,%3Csvg width='102' height='98' viewBox='0 0 102 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='48.9701' cy='48.9032' r='47.2977' stroke='url(%23paint0_linear)' stroke-width='2'/%3E%3Cpath d='M29 48.6055L45 64.6055L101 8.60547' stroke='url(%23paint1_linear)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0.672363' y1='48.9032' x2='97.2678' y2='48.9032' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23283048'/%3E%3Cstop offset='1' stop-color='%23859398'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='29' y1='36.6055' x2='101' y2='36.6055' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23283048'/%3E%3Cstop offset='1' stop-color='%23859398'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
			display: block;
			margin-bottom: rem(54);
		}
	}

	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sWhatMasterCLass