mixin sCertificates(data)
	// start sCertificates
	+b.SECTION.sCertificates.section#sCertificates&attributes(attributes)
		.container
		
				
			+e.row.row
				.col-md
					+b.section-title
						h2 Все компетенции автора подтверждены документально
					a(data-fslightbox="certificate" href="img/@2x/certificat-1.jpg")
						+pic('certificat-1.jpg','')
				+e.rcol.col
					a(data-fslightbox="certificate" href="img/@2x/certificat-2.jpg")
						+pic('certificat-2-sm.jpg','',0)
			.row
				.col-md-6
					a(data-fslightbox="certificate" href="img/@2x/certificat-3.jpg")
						+pic('certificat-3-sm.jpg','',0)
				.col-md-6
					a(data-fslightbox="certificate" href="img/@2x/certificat-4.jpg")
						+pic('certificat-4-sm.jpg','',0)
				.col-md-6
					a(data-fslightbox="certificate" href="img/@2x/certificat-5.jpg")
						+pic('certificat-5-sm.jpg','',0)
				.col-md-6
					a(data-fslightbox="certificate" href="img/@2x/certificat-6.jpg")
						+pic('certificat-6-sm.jpg','',0)
	// end sCertificates