
	// start .sCertificates
.sCertificates {
	padding-top: calc(var(--sPT) / 7);
	padding-bottom: calc(var(--sPB) / 7);

	.section-title {
		max-width: rem(512);
		position: relative;
		padding-bottom: rem(18);
		margin-bottom: var(--sTPB);
		@include media-breakpoint-up(md) {
			margin-bottom: calc(var(--sTPB) * 2.4);
		}
		padding-right: 10px;

		&::before {
			content: "";
			width: 100%;
			height: 2px;
			background: linear-gradient(135deg,#5f3dc1,#538f16);
			position: absolute;
			bottom: -2px;
		}
	}

	
	a {
		display: block;
		margin-bottom: rem(15);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(20);
		}
	}

	&__row {
		@include roww(24px);

		a {
			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}
	}

	&__col {
		// @include media-breakpoint-up(lg) {
		// 	max-width: 40%;
		// }
	}

	&__rcol {
		@include media-breakpoint-up(md) {
			max-width: 36%;
		}
	}

	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sCertificates