mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			
			.row.align-items-start
				.col-lg-7
					+e.subtitle Онлайн-тренинг
					+b.section-title
						h1 Умный FOREX <br>с Николаем Еремеевым&nbsp;5.0
					h5 Пока Вы&nbsp;учитесь зарабатывать, Ваши вложения удвоятся на&nbsp;полном автомате!
					p За&nbsp;время обучения&nbsp;Вы не&nbsp;только научитесь зарабатывать более&nbsp;50% (и&nbsp;более) прибыли в&nbsp;месяц, но&nbsp;и&nbsp;сможете удвоить Ваши вложения с&nbsp;помощью автоматического копирования сделок автора на&nbsp;Ваш торговый счёт.
					p Это позволит Вам окупить стоимость тренинга уже в&nbsp;ходе обучения и&nbsp;выйти на&nbsp;стабильную высокую прибыль от&nbsp;самостоятельной торговли.
					+btn('Успейте попасть на тренинг','#reg').scroll-link.mb-3
				+e.picCol.col
					+e.imgWrap
						+pic('men.png')
					+e.txt
						+e.name Артём Дудкевич
						+e.position куратор проекта, топ-менеджер издательства Инфо-ДВД
	// end headerBlock