mixin sMonitoring(data)
	// start sMonitoring
	+b.SECTION.sMonitoring.section#sMonitoring&attributes(attributes)
		.container
			+b.section-title
				h2 А это мониторинг реального счёта, где автор ведёт торговлю по этой системе:
				
			+e.imgWrap(data-fslightbox="monitoring" href="img/@2x/monitoring.png")
				+pic('monitoring.png','','440px')
			.text-center
				+e.link.text-gradient(href="https://www.mql5.com/ru/signals/849098" target="_blank") Посмотрите мониторинг в реальном времени

	// end sMonitoring