mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
				
			.row
				.col-md.sAbout__col
					+b.section-title
						h2 Кто&nbsp;же такой Николай Еремеев и&nbsp;почему его&nbsp;торговая система восхищает своей прибыльностью?
					+e.imgWrap
						+pic('about.jpg')
				.col
					h5 
						strong Николай Еремеев&nbsp;&mdash; успешный практикующий трейдер на&nbsp;рынке FOREX и&nbsp;на&nbsp;российском рынке акций, один из&nbsp;лучших авторов Издательства Инфо&#8209;ДВД.
					h5 Николай имеет 3&nbsp;высших образования: юридическое,&nbsp;экономическое и&nbsp;по&nbsp;направлению &laquo;Финансовое консультирование&raquo;.
					ul
						li В&nbsp;2019 году Николай получил высшее образование по&nbsp;направлению &laquo;Финансовое консультирование&raquo;, что подтверждается дипломом о&nbsp;профессиональной переподготовке (&#8470;&nbsp;2019/217-6430).
						li В&nbsp;2019 году прошёл обучение по&nbsp;направлению &laquo;Финансовое консультирование&raquo; на&nbsp;базе Высшей школы государственного&nbsp;управления Финансового университета при Правительстве Российской Федерации, по&nbsp;итогам которого было выдано соответствующее удостоверение (&#8470;&nbsp;06.01Д3/648).
						li В&nbsp;рамках проекта &laquo;Содействие повышению уровня финансовой грамотности населения и&nbsp;развитию финансового образования в&nbsp;Российской Федерации&raquo;, реализуемого Министерством финансов Российской Федерации совместно со&nbsp;Всемирным банком, Николай Еремеев был включен в&nbsp;федеральный реестр финансовых консультантов-методистов &laquo;Портала центров по&nbsp;финансовой грамотности взрослого населения&raquo;.
						li В&nbsp;2019 году Николай прошел аттестацию в&nbsp;органе по&nbsp;сертификации &laquo;Консалтинг, аудит, экспертиза, оценка&raquo; и&nbsp;получил квалификационный сертификат (серия КС &#8470;&nbsp;021294) о&nbsp;соответствии имеющихся компетенций профессиональному стандарту &laquo;Специалист по&nbsp;финансовому консультированию&raquo;.<br>В&nbsp;марте 2020 закончил курсы &laquo;Инвестирование в&nbsp;акции&raquo; и&nbsp;&laquo;Портфельные инвестиции: активные и&nbsp;пассивные стратегии&raquo; на&nbsp;базе НИУ &laquo;Высшая школа экономики&raquo;.
						li В&nbsp;настоящее время обучается в&nbsp;&laquo;Евразийской школе менеджмента и&nbsp;администрирования&raquo; по&nbsp;направлению &laquo;Executive MBA: Управление финансами&raquo;.

	// end sAbout