extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sHowItWorks/_sHowItWorks.pug
include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sWhatYouGet/_sWhatYouGet.pug
include ../blocks/sAdvantage/_sAdvantage.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sIndicators/_sIndicators.pug
include ../blocks/sMonitoring/_sMonitoring.pug
include ../blocks/sSchedule/_sSchedule.pug
include ../blocks/sBonuses/_sBonuses.pug
include ../blocks/sWhatMasterCLass/_sWhatMasterCLass.pug
include ../blocks/sRews/_sRews.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sGaranty/_sGaranty.pug
include ../blocks/sGoldenLevel/_sGoldenLevel.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCertificates/_sCertificates.pug
include ../blocks/sNikolayTaught/_sNikolayTaught.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Онлайн-тренинг'
	title= title
block pagecontent

	+header()
		+topLine() 
		+headerBlock()
	+sHowItWorks()
	+regBlock({
		t:`Готовы уже сейчас записаться&nbsp;на&nbsp;обучение?`,
		 btn:`Кликайте и регистрируйтесь!`
	}).regBlock-sm
	+sWhatYouGet()
	+sAdvantage()
	+sVideo()
	+sIndicators()
	+sMonitoring()
	+regBlock({
		t:`Хотите получать такие же&nbsp;результаты?`,
		 btn:`Успевайте занять место в группе&nbsp;тренинга!`
	}).regBlock-sm
	+sAbout()
	+sCertificates()
	+sNikolayTaught()
	+sRews-sm
	+sSchedule
	+sWhatMasterCLass
	+regBlock({
		t:`Изучите самую совершенную торговую систему кандидата экономических наук Николая Еремеева и&nbsp;отработайте её&nbsp;на&nbsp;практике вместе с&nbsp;автором!`,
		 btn:`Записывайтесь, пока есть свободные места!`
	})
	+sBonuses
	+regBlockPrice({
		t:`Сколько стоит участие`,
		 btn:`Оформите Ваш заказ`
	})
	+sRews
	+sTeam
	+sGaranty
	+sGoldenLevel
	+sQuestions
	+regBlock({
		t:`Мы&nbsp;продумали наш проект таким образом, чтобы каждый активный участник тренинга заработал деньги прямо во&nbsp;время обучения. Вам остаётся только воспользоваться этой возможностью.`,
		 btn:`Регистрируйтесь на&nbsp;тренинг и&nbsp;зарабатывайте!`
	})
	+footer()


	