mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		+e.container.container
		
			+e.logo(href="/")
				img.res-i(src="img/svg/logo.svg", alt="")
			+e.text Самая совершенная разработка кандидата экономических наук Николая Еремеева
	// end topLine