mixin sSchedule(data)
	// start sSchedule
	+b.SECTION.sSchedule.section#sSchedule&attributes(attributes)
		+pic("sSchedule-bg.png").bg
		.container
			+b.section-title
				h2 Как будет проходить тренинг:
			mixin item(num, d, t)
				+e.item
					+e.head.row
						+e.number.col= num
						+e.date.col-sm-auto!= d
					+e.title!= t
					block
			+item(`1 занятие.`,` 18 января, Понедельник в 19:00 МСК`,`Понятие и&nbsp;структура цикла в&nbsp;системе 5.0`)
				p У&nbsp;каждого финансового актива есть график движения цены. Ваша задача&nbsp;&mdash; определить, в&nbsp;какую сторону будет идти цена на&nbsp;графике, и&nbsp;совершать сделки в&nbsp;этом направлении. На&nbsp;занятии&nbsp;Вы научитесь определять текущий цикл (восходящий или нисходящий), то&nbsp;есть направление движения цены. Вы&nbsp;сможете присоединяться к&nbsp;этому движению и&nbsp;зарабатывать.

				p Вы&nbsp;научитесь делать построения на&nbsp;графике (уровни максимальной коррекции) и&nbsp;заранее будете знать, где цикл может смениться на&nbsp;противоположный. Вы&nbsp;будете к&nbsp;этому готовы и&nbsp;всегда сможете присоединиться к&nbsp;новому движению с&nbsp;самого начала, чтобы получить максимальную прибыль.
			+item(`2 занятие.`,`20&nbsp;января, Среда в&nbsp;19:00&nbsp;МСК`,`Направляющие как инструмент поддержки цикла`)
				p Когда Вы&nbsp;присоединились к&nbsp;текущему движению цены (совершили сделку), Вам важно как можно дольше удерживаться в&nbsp;этой сделке. На&nbsp;занятии&nbsp;Вы научитесь точно определять, что сейчас делать: закрыть прибыльную сделку или остаться в&nbsp;ней и&nbsp;заработать ещё больше.

				p Вы&nbsp;научитесь строить на&nbsp;графике направляющие&nbsp;&mdash; линии, вдоль которых цена движется в&nbsp;текущем цикле. Пока цена движется по&nbsp;направляющим, Ваша прибыль растёт, Вы&nbsp;открываете дополнительные сделки в&nbsp;направлении цикла и&nbsp;зарабатываете ещё больше. Как только цена выходит за&nbsp;пределы направляющих, Вы&nbsp;закрываете сделку, чтобы забрать свою прибыль.
			+item(`3 занятие.`,`22  января, Пятница в 19:00 МСК`,`Фрактальность`)
				p У&nbsp;каждого трейдера свои предпочтения. Один хочет торговать несколько часов подряд и&nbsp;совершать много быстрых сделок каждый день. Другой может подходить к&nbsp;компьютеру несколько раз в&nbsp;течение дня, поэтому хочет совершать сделки реже и&nbsp;удерживать их&nbsp;несколько дней. А&nbsp;третий вообще имеет только 10&nbsp;минут в&nbsp;день на&nbsp;торговлю и&nbsp;хочет входить в&nbsp;сделки 2-3 раза в&nbsp;месяц, сопровождая их&nbsp;несколько недель.

				p Для каждого подхода&nbsp;&mdash; свои циклы, большего или меньшего масштаба. На&nbsp;занятии&nbsp;Вы научитесь прибыльно торговать внутри любых циклов (больших или маленьких) и&nbsp;поймёте, как они между собой взаимодействуют. Это знание позволит Вам делать точные входы в&nbsp;рынок и&nbsp;выжимать максимум прибыли при любой занятости.
			+item(`4 занятие.`,`25 января, Понедельник в 19:00 МСК`,`Модели входа`)
				p К&nbsp;этому занятию&nbsp;Вы уже определились со&nbsp;стилем торговли, знаете, куда будет двигаться цена и&nbsp;как максимально долго удерживаться в&nbsp;сделках. А&nbsp;теперь самое важное&nbsp;&mdash; Вы&nbsp;узнаете, в&nbsp;какой момент нужно открывать Вашу сделку и&nbsp;что для этого нужно увидеть на&nbsp;графике.

				p Вы&nbsp;изучите понятные модели для входа в&nbsp;рынок и&nbsp;научитесь легко находить их&nbsp;на&nbsp;графике. Вы&nbsp;будете заранее знать, где и&nbsp;когда такие модели могут сформироваться, будете дожидаться их&nbsp;появления и&nbsp;совершать сделку. Вы&nbsp;подробнее узнаете о&nbsp;механизме развития цикла и&nbsp;сможете использовать в&nbsp;торговле как агрессивные методы входа, так и&nbsp;более консервативные.
			+item(`5 занятие.`,`27 января, Среда в 19:00 МСК`,`Практика`)
				p Теперь в&nbsp;Вашем арсенале все инструменты торговой системы и&nbsp;чёткое понимание, как их&nbsp;применять. Всё, что Вам осталось сделать&nbsp;&mdash; это попрактиковаться.&nbsp;5&nbsp;минут в&nbsp;день или 5&nbsp;часов в&nbsp;день&nbsp;&mdash; без разницы, всё зависит только от&nbsp;Вашей занятости и&nbsp;выбранного стиля торговли.

				p На&nbsp;занятии&nbsp;Вы вместе с&nbsp;автором поработаете по&nbsp;торговой системе на&nbsp;реальном рынке и&nbsp;в&nbsp;тестере стратегий. Тестер&nbsp;&mdash; это программа, в&nbsp;которой&nbsp;Вы сможете за&nbsp;короткое время воспроизвести длительный исторический промежуток движения цены на&nbsp;графике. При этом&nbsp;Вы будете совершать сделки в&nbsp;тестере, как будто это происходит в&nbsp;реальном времени. Это позволит Вам быстро выработать и&nbsp;закрепить навыки прибыльной торговли по&nbsp;изученной системе.
			+item(`6 занятие.`,`29 января, Пятница в 19:00 МСК`,`Ответы на вопросы`)
				p Если у&nbsp;Вас останутся какие-либо вопросы по&nbsp;торговой системе, на&nbsp;этом занятии&nbsp;Вы сможете их&nbsp;решить. Вопросы можно будет подготовить заранее или задать их&nbsp;прямо на&nbsp;занятии в&nbsp;чате прямой трансляции.

				p Техническая помощь, разъяснения по&nbsp;торговой системе, мотивация&nbsp;&mdash; всё это&nbsp;Вы получите в&nbsp;конце тренинга и&nbsp;легко сможете продолжить практику (с&nbsp;сопровождением автора в&nbsp;Мастер-группе на&nbsp;протяжении 3-х месяцев после тренинга).
	// end sSchedule