mixin sHowItWorks(data)
	// start sHowItWorks
	+b.SECTION.sHowItWorks.section#sHowItWorks&attributes(attributes)
		.container
			+b.section-title
				h2 Как это работает:
				
			mixin item(i,data)
				+e.item.row.align-items-center
					.col-md-auto
						+e.imgWrap
							img.res-i.loading-lazy(src=`img/svg/how-it-work-${i}.svg`, alt="", loading="lazy")
					.col
						+e.text!= data.text
			+item('1',{
				text: "На тренинге 2 недели <strong>Вы изучаете торговую систему</strong><br> и выполняете задания"
			})
			+item('2',{
				text: 'После тренинга <strong>Вы устанавливаете в Ваш терминал специального советника,</strong> который на полном автомате копирует сделки автора в реальном времени. 2 месяца советник работает на 2-х любых Ваших торговых счетах и генерирует прибыль'
			})
			+item('3',{
				text: 'Одновременно с началом работы советника <strong>Вы начинаете практику ручной торговли,</strong> задаёте вопросы автору, разбираете с ним Ваши сделки. Такое сопровождение длится 3 месяца после тренинга'
			})
			+item('4',{
				text: 'На выходе <strong>Вы получаете заработанные на автомате деньги</strong> и отточенную на практике торговую систему, которую можете применять и зарабатывать на любом рынке'
			})
	// end sHowItWorks