mixin sBonuses(data)
	// start sBonuses
	+b.SECTION.sBonuses.section#sBonuses&attributes(attributes)
		.container
			+b.section-title
				h2 Вы получаете бонусы!
			div
				mixin item(i,t,price, ...items)
					+e.item
						+e.block
							+e.title!= t
							each item in items
								p!= item
							+e.price!= price
							+e.free Для участников тренинга – #[span.text-gradient БЕСПЛАТНО!]
						+pic(i,'','992px')
				+item(`men.png`,`2&nbsp;дополнительных занятия с&nbsp;куратором тренинга`,`Ценность 6500 рублей`,`По&nbsp;итогам каждой из&nbsp;2-х недель тренинга (23-го и&nbsp;30-го января в&nbsp;19:00&nbsp;МСК) куратор тренинга Артём Дудкевич проведёт дополнительные занятия для разбора вопросов новичков и&nbsp;совместного выполнения домашних заданий (при возникновении сложностей у&nbsp;участников). Продолжительность занятий около 1&nbsp;часа.`)

				+item(`bonus-2.jpg`,`2&nbsp;месяца автоматического копирования сделок автора`,`Ценность 15&nbsp;000 рублей`,`Каждому участнику тренинга на&nbsp;2&nbsp;месяца будет предоставлена лицензия на&nbsp;советника, который на&nbsp;полном автомате будет копировать сделки автора по&nbsp;системе в&nbsp;торговый терминал клиента.`,`Лицензия будет предоставлена для 2-х торговых счетов на&nbsp;срок с&nbsp;1-го февраля по&nbsp;31-е марта. Информация о&nbsp;том, как получить лицензию, сам советник и&nbsp;инструкцию по&nbsp;его использованию, будет дана в&nbsp;группе во&nbsp;время тренинга.`)
	// end sBonuses