 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
	font-size: rem(30);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}
.regBlock{
	background: linear-gradient(90deg, #283048 0%, #859398 100%);
	// background: linear-gradient(135deg, #586E5D 0%, #65836C 96.35%);
	color: #ffffff;
	padding: rem(66) 0;
	position: relative;
	z-index: 2;
	&::before{
		content: 
		 image-set(url(../img/@1x/webp/regblock-bg.webp) 1x,
		 	url(../img/@2x/webp/regblock-bg.webp) 2x,
		 ); 
		z-index: -1;
	}
	&__title{
		@include rfs(30px);
		font-weight: 800;
		line-height: 140%;
	}
}