 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
	font-size: rem(30);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}
.regBlock{
	background: linear-gradient(90deg, #283048 0%, #859398 100%);
	// background: linear-gradient(135deg, #586E5D 0%, #65836C 96.35%);
	color: #ffffff;
	padding: rem(66) 0;
	position: relative;
	z-index: 2;
	picture{
		position: absolute;
		z-index: -1;
		pointer-events: none;
		display: block;
		img{

			width: auto;
			max-width: none;
		}
	  
		top: -72px;
	}
	&--price{
		picture{
			top: auto;
			bottom: rem(-5); 
		}
	}
	&__title{
		@include rfs(30px);
		font-weight: 800;
		line-height: 140%;
		@include media-breakpoint-up(xl) {
			margin-bottom: 0;
		}
		margin-bottom: 1rem;
	}

	&-sm {
		padding: rem(91) 0;
		.regBlock__title {
			@include rfs(40px);
		}
	}
	ul{
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	li{
		margin-bottom: rem(20);
		list-style: none;
		span{
			@extend .h5;
			font-weight: 600;
			margin-bottom: 0;
			padding: rem(4) rem(8);
			background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
		}
	}
	&__price{
		@extend .h2;
		font-weight: 800;
		background: linear-gradient(135deg, #FAFF00 0%, #7FC13D 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&__price-old{
		@extend .h5;
		text-decoration-line: line-through;
		margin-bottom: rem(40);
	}
}