include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/btn.pug
mixin img(url)
	img(class=(bg=="bg" ? "object-fit-js": null ) src=url alt="" loading='lazy')

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+img('img/svg/arrow-left.svg')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+img('img/svg/arrow-right.svg')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->
mixin btn(btn, href="#")
	a.btn.btn-accent.scroll-link(href= href)&attributes(attributes)!= btn
		i
mixin regBlock(data)
	+b.regBlock&attributes(attributes)
		+pic('regblock-bg.png','',0)
		.container
			.row.align-items-center
				.col-xl-7
					if data.t
						+e.title!= data.t
					block
				.col
					+btn(data.btn,'#reg').scroll-link
mixin regBlockPrice(data)
	+b.regBlock--price#reg
		+pic('regbg-price.png','',0)
		.container
			.row
				.col-xl-8.col-lg-7
					if data.t
						h2.strong!= data.t
					ul
						li: span 6 занятий тренинга
						li: span Домашние задания с проверкой
						li: span 3 месяца сопровождения в Мастер-группе
					.row
						.col-xl-auto.col-lg-6
							.h5 БОНУС: 
							p 2&nbsp;дополнительных занятия с <br> куратором тренинга
						.col-lg-6
							.h5 БОНУС: 
							p 2&nbsp;месяца автоматического копирования сделок автора
				.col.align-self-end.text-center
					.h5 Стоимость участия:
					+e.price 28 200 р.
					+e.price-old 47 000 р.
					+btn(data.btn,'https://info-dvd.ru/bbm/order/smartforex5')(class="mb-3 ",target="_blank")