mixin sNikolayTaught(data)
	// start sNikolayTaught
	+b.SECTION.sNikolayTaught.section#sNikolayTaught&attributes(attributes)
		.container
			+e.row.row
				.col-lg
					+b.section-title
						h2 На&nbsp;данный момент Николай обучил прибыльной торговле на&nbsp;FOREX более 1000 (!) учеников
				.col-lg
					h5
						strong Некоторые из них попали в команду Николая и получили от инвесторов крупные суммы в управление.
					h5 Научный подход, точный расчёт и месяцы трудоёмких тестов – вот что стоит за созданием каждой из стратегий Николая. Это не просто плоды напряжённого интеллектуального труда. Это настоящие произведения искусства!
			+e.apprenticeWrap
				+e.apprenticeRow.row.align-items-end
					.col.col-sm-auto
						+e.imgWrap
							+pic('apprentice','','')
					.col
						+e.apprentice
							+e.name Сергей Топорков
							+e.status ученик Николая Еремеева.
				+e.text
					p С&nbsp;системой торговли Николая Еремеева я&nbsp;знаком уже года 2-3. Очень заметен прогресс Николая от курса к&nbsp;курсу. Отрадно, что Николай, как истинный учёный, находится в&nbsp;постоянном творческом поиске новых решений, и&nbsp;последняя система в&nbsp;виде курса &laquo;FOREX для занятых&raquo;&nbsp;&mdash; яркое тому подтверждение. И&nbsp;я&nbsp;развиваюсь вместе с&nbsp;Николаем в&nbsp;его направлении.

					p Первое обучение, которое я&nbsp;прошёл у&nbsp;Н.&nbsp;Еремеева было &laquo;Форекс НЕ&nbsp;АД. Перезагрузка&raquo;, затем был тренинг &laquo;Умный FOREX 4.0&raquo;. Это уже третий курс Николая, который я&nbsp;изучаю. Что особенно приятно, от&nbsp;системы к&nbsp;системе, от&nbsp;курса к&nbsp;курсу <strong>стратегии Николая становятся всё проще и&nbsp;проще,</strong> он&nbsp;постоянно совершенствует свои торговые системы и&nbsp;инструменты, и&nbsp;значит, <strong>на&nbsp;рынке Форекс становится зарабатывать легче</strong> благодаря всё новым фишкам.


	// end sNikolayTaught