
	// start .sNikolayTaught
.sNikolayTaught {
	padding-top: calc(var(--sPT) / 7);
	padding-bottom: calc(var(--sPB) / 6);

	.section-title {
		@include media-breakpoint-up(lg) {
			margin-top: rem(-8);
		}
	}


	&__row {
		@include media-breakpoint-up(xl) {
			// @include roww(60px);
		}
		padding-bottom: rem(27);
	}

	&__topLine {
		display: flex;
		align-items: flex-end;
	}

	&__imgWrap {
		margin-top: rem(-32);
		// @include block(144,144);
		// margin-right: 43px;
		// flex-shrink: 0;
		max-width: 144px;

		// img {
		// 	@include a-cent;
		// 	width: 100%;
		// 	height: 100%;
		// 	object-fit: cover;
		// }
	}

	&__name {
		@include rfs(30px);
		@extend .text-gradient;
		font-weight: 800;
	}
	
	&__status {
		@include rfs(24px);
		color: #5C5C5C;
		font-weight: 600;
	}

	&__apprenticeRow {
		padding-bottom: rem(30);
		@include roww(15px);
		@include media-breakpoint-up(lg) {
			@include roww(43px);
		}
	}

	&__apprenticeWrap {
		position: relative;
		box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.25);
		background: #FFFFFF;
		padding: 0 rem(20) rem(15) rem(20);
		@include media-breakpoint-up(sm) {
			padding: 0 rem(62) rem(15) rem(48);
		}

		&::before {
			content: '';
			position: absolute;
			right: 5px;
			height: 24px;
			width: 31px;
			top: -15px;

			@include media-breakpoint-up(sm) {
				right: 37px;
				height: 47px;
				width: 62px;
				top: -25px;
			}
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11.9999' cy='11.4882' r='11.3369' fill='url(%23paint0_linear)'/%3E%3Cpath d='M10.1758 9.88213L13.0913 12.7974L21.594 4.29468' stroke='white' stroke-width='3'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0.663086' y1='0.151306' x2='23.3368' y2='22.825' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235F3DC1'/%3E%3Cstop offset='1' stop-color='%23538F16'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}

	h5 {
		margin-bottom: rem(15);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(32);
		}
		line-height: 1.65;
	}

	p {
		@include rfs(20px);
		margin-bottom: rem(20);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(37);
		}
	}





	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sNikolayTaught