mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+b.section-title
				h2 Остались вопросы?
			+e.items
				+questionItem(`Автоматическое копирование будет 2&nbsp;месяца. А&nbsp;дальше что?`, 'active')(class='active')
					p Дальше у&nbsp;Вас будет уже достаточно знаний и&nbsp;опыта, чтобы продолжить самостоятельную прибыльную торговлю. Но&nbsp;вопрос платного продления автоматического копирования сделок сейчас рассматривается, на&nbsp;тренинге&nbsp;Вы узнаете все подробности.
				+questionItem(`Чем я&nbsp;рискую?`)
					p Риски определяются Вами и&nbsp;могут составлять&nbsp;1% в&nbsp;каждой сделке (консервативная торговля), 3%&nbsp;в&nbsp;каждой сделке (умеренная торговля) или&nbsp;5% в&nbsp;каждой сделке (агрессивная торговля). Риски более&nbsp;5% на&nbsp;сделку не&nbsp;рекомендуются автором. При соблюдении правил торговой системы и&nbsp;риске&nbsp;1% на&nbsp;сделку максимальная временная просадка по&nbsp;счёту не&nbsp;превысит 20%. Важно понимать, что при агрессивной торговле с&nbsp;риском&nbsp;5% на&nbsp;сделку временная просадка по&nbsp;счёту может достигать 50%.

				+questionItem(`Какая нужна подготовка?`)
					p Необходимо знание основ компьютерной грамотности, умение пользоваться браузером. Полным новичкам перед тренингом рекомендуется изучение бесплатного курса ссылка &laquo;#[a(href="https://www.infoclub.info/group/details/slyforex" target="_blcnk") Хитрый FOREX]&raquo;, чтобы открыть торговый счёт, научиться пользоваться терминалом и&nbsp;открывать сделки, а&nbsp;также познакомиться авторскими принципами циклического анализа финансовых активов.
				+questionItem(`В&nbsp;каком терминале будем торговать?`)
					p Систему можно применять на&nbsp;любом рынке, на&nbsp;любом финансовом активе и&nbsp;в&nbsp;любом торговом терминале. В&nbsp;процессе обучения будет рассматриваться классика для рынка форекс&nbsp;&mdash; терминал MetaTrader4.
				+questionItem(`Каких брокеров&nbsp;Вы рекомендуете?`)
					p Мы&nbsp;рекомендуем для торговли компании: Alpari Limited, Gerchik &amp;&nbsp;Co. При этом&nbsp;Вы можете торговать у&nbsp;любого брокера, которому доверяете.
				+questionItem(`Когда я&nbsp;начну зарабатывать?`)
					p Уже во&nbsp;время обучения, за&nbsp;счёт автоматического копирования сделок автора в&nbsp;Ваш терминал. А&nbsp;после обучения у&nbsp;Вас будет уже достаточно знаний и&nbsp;опыта для самостоятельной прибыльной торговли.
				+questionItem(`На&nbsp;какую прибыль я&nbsp;могу рассчитывать?`)
					p Ориентировочная прибыльность при соблюдении правил торговой системы&nbsp;50% в&nbsp;месяц при торговле одним активом и&nbsp;риске всего&nbsp;1% на&nbsp;сделку. При увеличении числа торгуемых активов и&nbsp;рисков будет расти потенциальная прибыльность.
				+questionItem(`Какой депозит нужен?`)
					p Начать торговать на&nbsp;рынке FOREX Вы&nbsp;можете с&nbsp;любой имеющейся у&nbsp;Вас суммы (хоть $10&nbsp;на центовом счёте). Для ощутимых заработков необходим депозит $300-500 и&nbsp;более.
				+questionItem(`Сколько времени нужно уделять торговле?`)
					p Система подразумевает разные стили торговли с&nbsp;временными затратами от&nbsp;5&nbsp;минут до&nbsp;5&nbsp;часов в&nbsp;день.
				+questionItem(`На&nbsp;каких рынках можно применять торговую систему?`)
					p Вы&nbsp;можете торговать на&nbsp;любом рынке. На&nbsp;обучении будет рассматриваться торговля валютными парами на&nbsp;рынке FOREX. Но&nbsp;применить систему&nbsp;Вы сможете также на&nbsp;рынке акций, фьючерсов и&nbsp;криптовалют. По&nbsp;Вашему запросу на&nbsp;занятиях мастер-группы автор сделает анализ любого интересующего Вас актива.
	// end sQuestions

mixin questionItem(headerTxt, contentClasses)
	+e.item.q-item-js&attributes(attributes)
		+e.header!= headerTxt 
		+e.content.q-content-js(class=contentClasses)
			block